.table-responsive {
    position: absolute;
    right: -20px; 
    width: 65vw;
    max-height: 60vh;
    font-size: 0.8em;
    border: 2px solid #EEE;
    border-radius: 4px;
    padding: 10px;
}
.table-responsive thead th{
    color: #BBB;
    font-size: 0.75em;
}
.table-responsive tbody td{
    padding: 10px;
}
tbody{
    cursor: pointer;
}
